# Folders
node_modules
src
locales
scripts
coverage

# Test files
*.spec.ts
*.test.ts

# Configuration files
*.config.js
tsconfig*.json
.mocharc.jsonc

# IDE configuration files
.vscode

# CI/CD configuration
.github
.gitignore

# Log files
*.log

# Lock files
*.lock

# Temporary files
.DS_Store
