# Node modules
node_modules

# Test files
coverage
*.spec.ts

# Source files
src

# Build scripts
scripts/

# Configuration files
tsconfig*.json
prettier.config.js
eslint.config.js

# CI/CD configuration
.github

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Lock files
yarn.lock

# Temporary files
.DS_Store
